extends ../layouts/default

block intro
  .container
    h1 All Families

block content
  .container
    .row: .col-sm-12.col-md-12
      a(href='/resource/family-wellness').btn.btn-sm.btn-default.btn-block Family Wellness
      a(href='/resource/parenting-resources').btn.btn-sm.btn-default.btn-block Parenting Resources
      a(href='/resource/programming-for-violence-prevention').btn.btn-sm.btn-default.btn-block Programming for Violence Prevention
      a(href='/resource/programming-for-youth').btn.btn-sm.btn-default.btn-block Programming for Youth
      a(href='/resource/prenatal-resources').btn.btn-sm.btn-default.btn-block Prenatal Resources
