extends ../layouts/default

block intro
  .container
    h1 Families Involved with Child Welfare

block content
  .container
    .row: .col-sm-12.col-md-12
      a(href='/resource/family-support').btn.btn-lg.btn-primary.btn-block Family Support
      a(href='/resource/parentel-rights-in-child-welfare-for-aboriginal-parents').btn.btn-lg.btn-primary.btn-block Parentel Rights in Child Welfare for Aboriginal Parents
      a(href='/resource/child-protection-for-aboriginal-children').btn.btn-lg.btn-primary.btn-block Child Protection for Aboriginal Children
      a(href='/resource/other-community-resources').btn.btn-lg.btn-primary.btn-block Other Community Resources
