extends ../layouts/default

block content
	#loader
		img(src='images/loading.png').center-block.img-responsive
	.container
		.row
			div.col-sm-12.col-md-4.col-lg-4.main-btn
				a(href='/resource').btn.btn-sm.btn-primary.btn-block.btn-home Find Resources
			div.col-sm-12.col-md-4.col-lg-4.main-btn
				a(href='/allfamilies').btn.btn-sm.btn-primary.btn-block.btn-home All Families
			div.col-sm-12.col-md-4.col-lg-4.main-btn
				a(href='/families-involved-child-welfare').btn.btn-sm.btn-primary.btn-block.btn-home Families Involved with Child Welfare
			div.col-sm-12.col-md-4.col-lg-4.main-btn
				a(href='/stories').btn.btn-sm.btn-primary.btn-block.btn-home Stories
			div.col-sm-12.col-md-4.col-lg-4.main-btn
				a(href='/resource').btn.btn-sm.btn-primary.btn-block.btn-home Documents
			div.col-sm-12.col-md-4.col-lg-4.main-btn
				a(href='/pages/about-a-safe-space').btn.btn-sm.btn-primary.btn-block.btn-home About "A Safe Space"
