extends ../layouts/default

block content
	.container
		a(href='/resource').btn.btn-sm.btn-default.btn-block Find Resources
		a(href='/allfamilies').btn.btn-sm.btn-default.btn-block All Families
		a(href='/families-involved-child-welfare').btn.btn-sm.btn-default.btn-block Families Involved with Child Welfare
		a(href='/resource').btn.btn-sm.btn-default.btn-block Stories
		a(href='/resource').btn.btn-sm.btn-default.btn-block Documents
		a(href='/resource').btn.btn-sm.btn-default.btn-block About "A Safe Space"
