extends ../layouts/default
 
block content 
    .container: .row: .col-sm-12.col-md-12
        article
            p: a(href='/stories') ← back to the stories
            hr
            if !data.post
                h2 Invalid Post.
            else
                header
                  h1= data.post.title
                      if data.post.publishedDate
                          | on #{data.post._.publishedDate.format('MMMM Do, YYYY')}
                      if data.post.author
                          | by #{data.post.author.name.first}
                .post
                    p!= data.post.description
